<!DOCTYPE html>
<html>
<head>
    
    <title>bootstrap website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="bgimg">
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

<div class="container">
        <a href="#" class="navbar-brand text-warning font-weight-bold">Bhushan's Workstation</a>
        <button class="navbar-toggler" data-target="#collapsenavbar" data-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="collapsenavbar" class="collapse navbar-collapse text-center">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#service">Services</a>
                        </li>
                        <li class="nav-item active">
                                <a class="nav-link" href="#port">Portfolio</a>
                            </li>
                            <li class="nav-item active">
                                    <a class="nav-link" href="#team">Team</a>
                                </li>
                                <li class="nav-item active">
                                        <a class="nav-link" href="#about">About</a>
                                    </li>
                                    
                                            </ul>
                    </div>


</div>
</nav>


<div class="container text-center text-white headerset">
        <br>    
    <h2>welcome to my website</h2>
    <h1>its nice to see you at Bhushans Workstation</h1>
    <br>
    <button class="btn btn-success btn-outline-light text-white btn-lg" (click)="fun()">Subscribe</button>
    
    <h1 [hidden]="sub">Successfully Subscribed</h1>
    </div>
    





    </div>


<section class="container ourservices text-center" id="service">
<h1>service</h1>
<p>welcome to our services</p>

<div class="row rowset">
<div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
<div class=" imgsettings d-block m-auto bg-warning"><i class="fa fa-shopping-cart fa-3x text-white"></i></div>
<h2>E-commerce</h2>
<p>electronic commerce or EC  is the buying and selling of goods and services, or the transmitting of funds or data, over an electronic network, primarily the internet.</p>
</div>

<div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
        <div class=" imgsettings d-block m-auto bg-warning"><i class="fa fa-desktop fa-3x text-white"></i></div>
        <h2>responsive Disign</h2>
        <p>Responsive Web Enablement of Any Legacy Applications.
          Customized Responsive Web Portal Solutions.
          Responsive E-commerce website, fo rums, and blogs.
          Designing Responsive Website Layo uts.</p>
        </div>


        <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
                <div class=" imgsettings d-block m-auto bg-warning"><i class="fa fa-user-secret fa-3x text-white"></i></div>
                <h2>Web security</h2>
                <p>Web application security is the process of securing confidential data stored online from unauthorized access and modification.</p>
                </div>

</div>




</section>

<!-- ///////////////////////////portfolio////////////// -->
    <section class="portfolio bg-light" id="port">

<div class="container text-center">

<h1>PORTFOLIO</h1>
<p>My job is to make sure that as our customers' priorities change, as the environment changes, we shift that portfolio of products to meet them.
</p>
<div class="row">

<div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto" >
<div class="card">
    <img src="../assets/img/portfolio/1.jpg" alt="" class="card-img img-fluid">
<div class="card-body">
<h2 class="card-title"> Threads </h2>
<p class="card-text">Ilustration</p>
</div>


</div>


</div>

<div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto" >
        <div class="card">
            <img src="../assets/img/portfolio/2.jpg" alt="" class="card-img img-fluid">
        <div class="card-body">
        <h2 class="card-title"> Explore </h2>
        <p class="card-text">graphic design</p>
        </div>
        
        
        </div>
        
        
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto" >
                <div class="card">
                    <img src="../assets/img/portfolio/3.jpg" alt="" class="card-img img-fluid">
                <div class="card-body">
                <h2 class="card-title"> Finish </h2>
                <p class="card-text">identity</p>
                </div>
                
                
                </div>
                
                
                </div>


</div>


<div class="row">

        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto" >
        <div class="card">
            <img src="../assets/img/portfolio/8.jpg" alt="" class="card-img img-fluid">
        <div class="card-body">
        <h2 class="card-title"> lines </h2>
        <p class="card-text">branding</p>
        </div>
        
        
        </div>
        
        
        </div>
        
        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto" >
                <div class="card">
                    <img src="../assets/img/portfolio/5.jpg" alt="" class="card-img img-fluid">
                <div class="card-body">
                <h2 class="card-title"> Southwest </h2>
                <p class="card-text">website Design</p>
                </div>
                
                
                </div>
                
                
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto" >
                        <div class="card">
                            <img src="../assets/img/portfolio/6.jpg" alt="" class="card-img img-fluid">
                        <div class="card-body">
                        <h2 class="card-title"> Window </h2>
                        <p class="card-text">Photography</p>
                        </div>
                        
                        
                        </div>
                        
                        
                        </div>
        
        
        </div>


</div>










    </section>
        
<section class="ourteam" id="team">
<div class="container text-center">

    <h1>Our Amazing Team</h1>
    <p>Great things in business are never done by one person. They're done by a team of people.
      </p>

    <div class="row teamset">

            <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto" >
            <figure class="figure">


                <img src="../assets/img/team/1.jpg" alt="" class="figure-img img-fluid rounded-circle"
                height="250px" width="250px">

                <figcaption>

                    <h4>kay garland</h4>


                    <p class="figure-caption">Lead designer</p>

                </figcaption>
            



            </figure>
            
            </div>


            <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto" >
                    <figure class="figure">
        
        
                        <img src="../assets/img/team/21.jpg" alt="" class="figure-img img-fluid rounded-circle"
                        height="250px" width="250px">
        
                        <figcaption>
        
                            <h4>Bhushan Fegade</h4>
        
        
                            <p class="figure-caption">Web Designer</p>
        
                        </figcaption>
                    
        
        
        
                    </figure>
                    
                    </div>


                    <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto" >
                            <figure class="figure">
                
                
                                <img src="../assets/img/team/3.jpg" alt="" class="figure-img img-fluid rounded-circle"
                                height="250px" width="250px">
                
                                <figcaption>
                
                                    <h4>lay garland</h4>
                
                
                                    <p class="figure-caption">Lead designer</p>
                
                                </figcaption>
                            
                
                
                
                            </figure>
                            
                            </div>



            </div>



</div>



</section>

<!-- /////////////////////////////about/////////////////// -->


<section class="about" id="about">

        <div class="container text-center">

                <h1>About Us</h1>
                <p>
                
                
                
                </p>
        <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto" >
                <div class="card">
                    <img src="../assets/img/about/github_660_060518055111.jpg" alt="" class="card-img img-fluid">
                <div class="card-body">
                <h2 class="card-title"> GitHub </h2>
                <a href="https://github.com/bhushan76" target="_blank">visit profile</a>
                
                </div>
                
                
                </div>
                
                
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto" >
                        <div class="card">
                            <img src="../assets/img/about/2.png" alt="" class="card-img img-fluid">
                        <div class="card-body">
                        <h2 class="card-title"> LinkedIn </h2>


                        
                        <a href="https://www.linkedin.com/in/bhushanfegade" target="_blank">Visit Profile</a> 

                        </div>
                        
                        
                        </div>
                        
                        
                        </div>
                
                        <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto" >
                                <div class="card">
                                    <img src="../assets/img/about/3.png" alt="" class="card-img img-fluid">
                                <div class="card-body">
                                <h2 class="card-title"> Hackerrank </h2>


                                <a href="https://www.hackerrank.com/bhushanfegade76" target="_blank">Visit Profile</a> 


                               
                                 
                                </div>
                                
                                
                                </div>
                                
                                
                                </div>
                
                
                </div>
                
</div>

</section>




<footer class="footer">

<h6 class="text-center">Copyright © 2018 , Designed by Bhushan</h6>

</footer>



</body>
</html>